{% load i18n %}
{% load static %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 make-text">
        <div class="list-group">
            <h3 style="background:#f1f8f9; padding:10px">Categorias:</h3><br>
            {% for tag in tag_list %}
                {% if tag.articulo_set.count > 0 %}
                {% url 'blog:categoria' slug=tag.slug as cat %}
                <a href="{{ cat }}" class="list-group-item {% if request.path == cat %}active{% endif %}">
                    <span class="badge">{{tag.articulo_set.count}}</span>{{tag.nombre}}</a>
                {% endif %}    
            {% endfor %}
        </div>    
    </div>
</div>        
