{% load i18n %}
{% load static %}
<!-- =========================
    FOOTER
============================== -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-matchheight">
                <div class="row">
                    <!-- FOOTER ITEM 2 -->
                    {% include "includes/horario.html" %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copyright">
                        <div>{% translate global.footer|safe %} </div>
                    </div>
                </div>
            </div>

            <!-- FOOTER ITEM 3 -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footer-item footer-item-3 footer-matchheight" id="footer-item-3">
                <h3 class="footer-title"><a href={#{% url 'index:contact' %}#}><i class="fa fa-map-marker"></i>{% translate contact.menu_page_name %}</a></h3>
                <div class="footer-item-3-phone"> <i class="fa fa-phone"></i> {% translate global.phone %} </div>
                <div class="footer-item-3-location"><a href="https://www.google.com/maps/place/Cl%C3%ADnica+Dental+Oralit%C3%A1-+odontolog%C3%ADa+y+medicina+oral/@41.403573,2.14856,19z/data=!4m5!3m4!1s0x0:0x679ffd40d4873d99!8m2!3d41.4035728!4d2.1485595"><i class="flaticon-navigation-arrow"></i> {% translate global.address %} </a></div>
                <div class="footer-item-3-mail"> <i class="fa fa-envelope"></i> <a  href="#bookform1" class="fancybox-2">{% translate global.email %}</a> </div>
                <div class="footer-item-3-socials"> <a href="https://www.facebook.com/Oralit%C3%A1-odontolog%C3%ADa-y-medicina-oral-italiana-2178945382326419"><i class="fa fa-facebook"></i></a></div>
            </div>

            <!-- FOOTER ITEM 4 -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footer-item footer-item-4 footer-matchheight" id="footer-item-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d374.0814234980821!2d2.1483666130356287!3d41.40337659404272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x679ffd40d4873d99!2sCl%C3%ADnica+Dental+Oralit%C3%A1-+odontolog%C3%ADa+y+medicina+oral!5e0!3m2!1sfr!2ses!4v1521653004887" frameborder="0" style="border:0; width: 100%; height: 100%" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- =========================
    END FOOTER
============================== -->

<!-- =========================
     SCRIPTS
============================== -->
<!-- JQUERY -->
<script src={% static 'index/js/jquery-2.2.0.min.js' %}></script>

<!-- BOOTSTRAP -->
<script src={% static 'index/js/bootstrap.min.js' %}></script>

<!-- SLIDER PRO -->
<script src={% static 'index/js/jquery.sliderPro.min.js' %}></script>

<!-- LIGHTBOX -->
<script src={% static 'index/js/jquery.fancybox.pack.js' %}></script>

<!-- CAROUSEL -->
<script src={% static 'index/js/owl.carousel.js' %}></script>

<!-- STAR RATING -->
<script src={% static 'index/js/jquery.barrating.min.js' %}></script>

<!-- ISOTOPE FILTER -->
<script src={% static 'index/js/isotope.pkgd.min.js' %}></script>

<!-- SCROLLSPY -->
<script src={% static 'index/js/scrollspy.js' %}></script>

<!-- DATEPICKER -->
<script src={% static 'index/js/moment.js' %}></script>
<script src={% static 'index/js/bootstrap-datetimepicker.min.js' %}></script>

<!-- JQUERY FORM -->
<script src={% static 'index/js/jquery.form.js' %}></script>

<!-- FORM VALIDATOR -->
<script src={% static 'index/js/jquery.form-validator.js' %}></script>

<!-- SELECT STYLING -->
<script src={% static 'index/js/jquery.selectBox.js' %}></script>

<!-- MATCHHEIGHT -->
<script src={% static 'index/js/jquery.matchHeight.js' %}></script>

<!-- CUSTOM SCRIPT -->
<script src={% static 'index/js/theme.js' %}></script>

<!-- GOOGLE MAPS -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD75G3uNitdrg1fxknGd5t2UutlrZt9piU&amp;language=es&amp;sensor=true"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->