{% load i18n %}
{% load static %}
{% load index_tags %}

<div class="preloader" id="preloader"> <img src="{% static 'index/images/preloader.gif' %}" alt="" /> </div>
<!-- =========================
     TOP BAR
============================== -->
<div class="top-bar" id="top-bar">
    <div class="container">
        <div class="row">

            <!-- TOP BAR LEFT -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="top-bar-adress"><a href="https://www.google.com/maps/place/Cl%C3%ADnica+Dental+Oralit%C3%A1-+odontolog%C3%ADa+y+medicina+oral/@41.403573,2.14856,19z/data=!4m5!3m4!1s0x0:0x679ffd40d4873d99!8m2!3d41.4035728!4d2.1485595"><i class="flaticon-navigation-arrow"></i>{% translate global.address %}</a> </div>
            </div>

            <!-- TOP BAR RIGHT -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="top-bar-social">
                    <div class="select-locale">
                        <select class="locale-selector">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for lang in languages %}                            
                                <option value="/{{lang.code}}" {% if lang.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ lang.name_local }}
                                </option>
                            {% endfor %}    
                        </select>
                    </div>
                </div>
                <div class="top-bar-social">
                    <a href="https://www.facebook.com/Oralit%C3%A1-odontolog%C3%ADa-y-medicina-oral-italiana-2178945382326419"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="top-bar-mail"> <i class="fa fa-envelope"></i> <a href="#bookform1" class="fancybox-2">{% translate global.email %}</a> </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================
     END TOP BAR
============================== -->

<!-- =========================
     HEADER
============================== -->
<div class="header" id="header">
    <div class="container">
        <div class="row">

            <!-- HEADER LOGO -->
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="header-logo"> <a href="{% url 'index:home' %}"><img src="{% static 'index/images/logo.png' %}" alt="{% translate default.title %}" />
                        <span class="bold600 color-child-6"> </span>
                        <span class="color-child-5"> </span>
                    </a> </div>
            </div>

            <!-- HEADER BUTTONS -->
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="header-button"> <a href="#bookform1" class="fancybox-2 btn btn-default">
                        <span class="plus">+</span>
                        {% translate global.appointment|upper%}</a> </div>
                <div class="header-phone" style="color: white; background: #595a5a;"> <i class="fa fa-phone"></i> <a href="tel:937978493">{% translate global.phone%}</a> </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================
     END HEADER
============================== -->

<!-- =========================
     MAIN MENU
============================== -->
<div id="smartposition"></div>
<div class="top-menu" id="top-menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-bar-cont">
                    <div class="top-menu-logo"> <a href="{% url 'index:home' %}"><img src="{% static 'index/images/logo_sm.png' %}" alt="{% translate default.title %}" />
                            <span class="bold600 color-child-6">{% translate global.site_name|capfirst %}</span>
                        </a> </div>
                    <div class="mobile-bar">
                        <div class="show-menu" id="show-menu"> <i class="fa fa-bars"></i> </div>
                    </div>
                </div>
                <ul class="nav navbar-nav">
                    {% url 'index:home' as home %}
                    <li class="{% if request.path == home %}active{% endif %}">
                        <a href="{{ home }}">{% translate homepage.menu_page_name|capfirst%}</a>
                    </li>
                    <!--                    <li><a href="/about.php">NOSOTROS</a></li>-->
                    <li class="dropdown"> <a data-toggle="dropdown disabled" href="{% url 'index:especialidades' %}">
                            {% translate especialidades.menu_page_name|capfirst %}</a>
                        <ul class="dropdown-menu with-bg" role="menu" style="padding-right: 325px; background: {% static 'index/images/general.jpg' %};">
                            {% for especialidad in list_especialidades %}
                                <li><a href="{% url 'index:especialidad_detail' name=especialidad.link %}">{{ especialidad.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% url 'index:quienes-somos' as quien %}
                    <li class="{% if request.path == quien %}active{% endif %}">
                        <a href="{{ quien }}">{% translate quienes_somos.menu_page_name|capfirst %}</a>
                    </li>
                    {% url 'index:donde' as dondesta %}
                    <li class="{% if request.path == dondesta %}active{% endif %}">
                        <a href="{{ dondesta }}">{% translate donde.menu_page_name|capfirst %}</a>
                    </li>
                    {% url 'index:primera_visita' as primera_visita %}
                    <li class="{% if request.path == primera_visita %}active{% endif %}">
                        <a href="{{ primera_visita }}">{% translate primera.menu_page_name|capfirst %}</a>
                    </li>
                    {% url 'index:contact' as contacto %}
                    <li class="{% if request.path == contacto %}active{% endif %}">
                        <a href="{{ contacto }}">{% translate contact.menu_page_name|capfirst %}</a>
                    </li>
                    {% url 'blog:list' as blog %}
                    <li class="{% if request.path == blog %}active{% endif %}">
                        <a href="{{ blog }}">Blog</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>