<!-- =========================
     SCRIPTS
============================== -->
<!-- JQUERY -->
<script src={% static '/js/jquery-2.2.0.min.js' %}></script>

<!-- BOOTSTRAP -->
<script src={% static '/js/bootstrap.min.js' %}></script>

<!-- SLIDER PRO -->
<script src={% static '/js/jquery.sliderPro.min.js' %}></script>

<!-- LIGHTBOX -->
<script src={% static '/js/jquery.fancybox.pack.js' %}></script>

<!-- CAROUSEL -->
<script src={% static '/js/owl.carousel.js' %}></script>

<!-- STAR RATING -->
<script src={% static '/js/jquery.barrating.min.js' %}></script>

<!-- ISOTOPE FILTER -->
<script src={% static '/js/isotope.pkgd.min.js' %}></script>

<!-- SCROLLSPY -->
<script src={% static '/js/scrollspy.js' %}></script>

<!-- DATEPICKER -->
<script src={% static '/js/moment.js' %}></script>
<script src={% static '/js/bootstrap-datetimepicker.min.js' %}></script>

<!-- JQUERY FORM -->
<script src={% static '/js/jquery.form.js' %}></script>

<!-- FORM VALIDATOR -->
<script src={% static '/js/jquery.form-validator.js' %}></script>

<!-- SELECT STYLING -->
<script src={% static '/js/jquery.selectBox.js' %}></script>

<!-- MATCHHEIGHT -->
<script src={% static '/js/jquery.matchHeight.js' %}></script>

<!-- CUSTOM SCRIPT -->
<script src={% static '/js/theme.js' %}></script>

<!-- GOOGLE MAPS -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD75G3uNitdrg1fxknGd5t2UutlrZt9piU&amp;language=es&amp;sensor=true"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
