{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate especialidades.title %}{% endblock %}
{% block og_title %}{% translate especialidades.og_title %}{% endblock %}
{% block og_description %}{% translate especialidades.og_description %}{% endblock %}
{% block meta_description %}{% translate especialidades.meta_description %}{% endblock %}

{% block body %}
    <div class="page-title page-title-doctor bg-pattern" data-bgcolor="2BAAA1">
        <div class="page-title-overlay">
            <div class="container">
                <h1>Articulos</h1>
                <h3>Description</h3>
            </div>
        </div>
    </div>
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="breadcrumb-home"><a href="{% url 'index:home' %}"><i class="fa fa-home"></i></a></li>
                    <li class="active">Articulos</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="doctor">

    <div class="container">
    <div class="row">
        {% for articulo in articulo_list %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{articulo.photo.url}}" alt="{{ articulo.titulo }}">
                    <div class="caption">
                        <div class="text-center">
                            <h3>{{ articulo.titulo }}</h3>
                            <p>{{ articulo.resumen|truncatewords:20 }}</p>
                            <a  style="width: 50%" href="{% url 'blog:detail' pk=articulo.pk %}" class="btn btn-primary" role="button">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    </div>

{% endblock %}