{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{articulo.titulo}}{% endblock %}
{% block og_title %}{{articulo.meta_titulo}}{% endblock %}
{% block og_description %}{{articulo.resumen}}{% endblock %}
{% block og_image %}{{articulo.photo.url}}{% endblock %}
{% block meta_description %}{{articulo.meta_description}}{% endblock %}
{% block meta_keywords %}{% translate primera.meta_keywords %}{% endblock %}

{% block body %}
    <div class="page-title page-title-doctor bg-pattern" data-bgcolor="2BAAA1">
        <div class="page-title-overlay">
            <div class="container">
                <h1>{{articulo.titulo}}</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="breadcrumb-home"><a href="{% url 'index:home' %}"><i class="fa fa-home"></i></a></li>
                    <li class="active"><a href="{% url 'blog:list' %}">Articulos</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container especialidade">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="especialidade-image left col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 10px">
                    <img src="{{articulo.photo.url}}" alt="">
                </div>
                <div>
                    {{articulo.texto|safe}}
                </div>
                <div class="author" style="background:#f1f8f9;padding:8px;">
                    <div class="media">
                        <div class="media-left">
                            <a href="{% url 'index:quienes-somos' %}">
                            <img class="media-object" src="{{articulo.autor.photo.url}}" alt="photo del autor" style="height:120px;width:120px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a style="color:#455f68;" href="{% url 'index:quienes-somos' %}">
                                {{articulo.autor.nombre}} {{articulo.autor.apellido}}</a></h3>
                            <p>{{articulo.autor.descripcion}}
                        </div>
                    </div>
                </div>    
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                {% include "includes/cita.html" %}
            </div>
        </div>
    </div>

    
                 
{% endblock %}