{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate quienes_somos.menu_page_name %}{% endblock %}
{% block og_title %}{% translate quienes_somos.og_title %}{% endblock %}
{% block og_description %}{% translate quienes_somos.og_description %}{% endblock %}
{% block og_image %}{% static '/index/images/tretamientos/Matteo_Ricucci_Dentista_Italiano_2.jpg' %}{#{{ absolute_url(asset('/images/Matteo_Ricucci_Dentista_Italiano_2.jpg')) }}#}{% endblock %}

{% block meta_description %}{% translate quienes_somos.meta_description %}{% endblock %}
{% block meta_keywords %}{% translate quienes_somos.meta_keywords %}{% endblock %}

{% block body %}
    <div class="page-title page-title-doctor bg-pattern" data-bgcolor="2BAAA1">
        <div class="page-title-overlay">
            <div class="container">
                <h1>{% translate quienes_somos.title %}</h1>
                <h3>{% translate quienes_somos.sub_title %}</h3>
            </div>
        </div>
    </div>
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="breadcrumb-home"><a href="{% url 'index:home' %}"><i class="fa fa-home"></i></a></li>
                    <li><a href="{% url 'index:quienes-somos' %}">{% translate quienes_somos.menu_page_name %}</a></li>
                    <li class="active">{% translate quienes_somos.title %}</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="doctor">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="doctor-info">
                        <div class="doctor-info-image"> <img src="{% static '/index/images/Matteo_Ricucci_Dentista_Italiano_2.jpg' %}" alt="{% translate quienes_somos.alt_img_doctor %}" /> </div>
                        <div class="doctor-info-name"> {% translate quienes_somos.info %}</div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="doctor-text">
                        {% translate quienes_somos.text|safe %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}